<%- include('./partials/head') %> <!-- Deze regel voegt de inhoud van head.ejs toe aan de pagina -->

<!-- HERO SECTION -->
<header class="hero-section">
    <section class="hero-image-bg">
        <img src="/assets/painting-1.webp" alt="" style="width:100%; max-width: 300px;"> 
        <img src="/assets/painting-2.webp" alt="" style="width:100%; max-width: 300px;">
        <img src="/assets/painting-3.webp" alt="" style="width:100%; max-width: 300px;">
        <img src="/assets/painting-4.webp" alt="" style="width:100%; max-width: 300px;">
    </section>

    <aside class="hero-overlay"></aside> 

    <article class="hero-content">
        <h1 class="hero-title">
            <span class="red-block">The Met Museum </span>
            <span class="black-block">Collection</span>
        </h1>
    </article>
</header>

<!----------------------------------------------------------->

<!-- DEPARTMENTS SECTION -->

<section class="departments-section">
    <h2>The Met Collection</h2>
    <p>Travel around the world and across 5,000 years of history through 490,000+ works of art.
    </p> 
     <section class="departments-container">
     <% departments.forEach((department, index) => { %>
        <input type="radio" name="accordion" id="section-<%= index %>" class="accordion-radio">
            <label for="section-<%= index %>" class="collection-card">
                <h3><%= department.displayName %></h3>
            </label>
                 <div class="accordion-content">
                     <figure>
                         <img src="<%= departmentImage(department.departmentId) %>" alt="<%= department.displayName %>">
                         <figcaption>
                             <p>
                             <span class="department-title"><%= department.displayName %></span>
                            Discover the masterpieces of the <%= department.displayName %> collection.
                             </p>
                            <a href="/department/<%= department.departmentId %>" class="explore-button">Explore Collection</a>
                        </figcaption>
                     </figure>
                 </div>
            <% }) %>
    </section>
</section>
</body>
</html>

